<div class="pl-lg pb-lg" ng-hide="comments.length">
	<i>There is no comments for this APK</i>
</div>
<div ng-show="comments.length" class="apk-comment-list">
	<div class="list-group-item" ng-repeat="comment in comments">
		<div class="media">
			<div class="pull-left">
				<img ng-src="{{ comment.author.avatar_url }}" alt="Image" class="media-object img-circle thumb32" ng-show="comment.author.avatar_url">

				<img src="/assets/img/default_avatar.png" alt="Image" class="media-object img-circle thumb32" ng-hide="comment.author.avatar_url">
			</div>
			<div class="media-body clearfix" ng-hide="comment.editing">
				<a href="/analysts/{{ comment.author.username }}" class="media-heading text-primary">{{ comment.author.username }}</a>,
				<small am-time-ago="comment.created_on*1000" title="{{ comment.created_on*1000 | date:'medium' }}"></small>

				<p class="mb-sm" style="white-space: pre-line;" ng-bind-html="comment.text | linky:'_blank' | hashtags | mentions"></p>

				<div style="font-size:12px;" ng-show="comment.author.username == $root.user.username">
					<a href="" ng-click="deleteComment(comment);">Delete</a> | 
					<a href="" ng-click="comment.editing=true;">Edit</a>
				</div>
			</div>
			<div class="media-body clearfix" ng-show="comment.editing">
				<div class="form-group" ng-init="comment.newtext = comment.text">
					<add-comment-widget ng-model="comment.newtext"></add-comment-widget>
				</div>
				<button class="btn btn-default" type="button" ng-click="comment.editing=false;comment.newtext = comment.text;" tabindex="-1">
					Discard changes
				</button>
				&nbsp;
				<button class="btn btn-primary" type="button" ng-click="updateComment(comment);">
					Update comment
				</button>
			</div>
		</div>
	</div>
	<div class="mt" ng-show="nextPage">
		<button class="btn btn-primary" ng-click="getComments()">Load more comments</button>
	</div>
</div>
<form ng-submit="addComment()" class="ng-pristine ng-valid" ng-hide="$root.user.anon">
	<h3>New comment</h3>
	<div class="form-group">
		<add-comment-widget ng-model="newComment.text"></add-comment-widget>
	</div>
	<button class="btn btn-primary" type="submit">Send comment</button>
</form>